<section class=" py-5 gradient-custom justify-content-center">
    <div class="container">
        <div class="row d-flex  align-items-center justify-content-center" [ngSwitch]="anyUserConnected">
            <div *ngSwitchCase="'ROLE_STUDENT'" class="col-12">
                <div class="card bg-dark" >
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-6 text-white">
                                <div class="p-5">
                                    <div >
                                        <button class="bg-dark btn btn-outline-light btn-lg nav-link" routerLink="../new">
                                            <img src="../../../assets/img/mail.png" class="img-fluid">
                                            Nouvelle requête
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 text-white" >
                                <div class="p-5">
                                
                                    <div >
                                        <button class="bg-dark btn btn-outline-light btn-lg nav-link" routerLink="../mine">
                                            <img src="../../../assets/img/view.png" class="img-fluid">
                                            Voir mes requêtes
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'ROLE_ADMIN'" class="col-6">
                <div class="card bg-dark" >
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-12 text-white">
                                <div class="p-5">
                                    <div >
                                        <button class="bg-dark btn btn-outline-light btn-lg nav-link" routerLink="../manage">
                                            <img src="../../../assets/img/view.png" class="img-fluid">
                                            Voire les requêtes en attentes.
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
