<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card bg-dark" >
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-6 text-white">
                                <div class="p-5">

                                    <div >
                                        <button class="bg-dark btn btn-outline-light btn-lg nav-link" routerLink="../new">
                                            <img src="../../../assets/img/mail.png" class="img-fluid">
                                            Nouvelle requête
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 text-white" >
                                <div class="p-5">
                                
                                    <div >
                                        <button class="bg-dark btn btn-outline-light btn-lg nav-link" routerLink="../mine">
                                            <img src="../../../assets/img/view.png" class="img-fluid">
                                            Voir mes requêtes
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
