<section class="vh-100 gradient-custom" >
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-6">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="mb-md-4 mt-md-4 ">
                            <h2 class="fw-bold mb-2 text-uppercase">Réservation</h2>
                            <div class=" mb-4">
                                <label class="form-label" for="in-capacity">Capacité</label>
                                <input type="text" id="in-capacity" class="form-control form-control-lg" formControlName="capacity"/>
                            </div>
                            <div class=" mb-4">
                                <label class="form-label" for="in-justification" >Justification</label>
                                <input type="text" id="in-justification" class="form-control form-control-lg" formControlName="justification"/>
                            </div>
                            <div class=" mb-4">
                                <label class="form-label" for="in-start" >Début</label>
                                <input type="datetime-local" id="in-start" class="form-control form-control-lg" formControlName="start"/>
                            </div>
                            <div class=" mb-4">
                                <label class="form-label" for="in-end" >Durée</label>
                                <input type="time" id="in-end" class="form-control form-control-lg" formControlName="end"/>
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="in-material" >Matériel</label>
                                <ng-multiselect-dropdown id="in-material" formControlName="material"
                                    [settings]="dropdownSettings"
                                    [data]="dropdownList">
                                </ng-multiselect-dropdown>
                            </div>
                            <button class="btn btn-outline-light btn-lg px-4" type="submit">Envoyer</button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
